<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Detail Registrasi</h1>
    <table>
        <tr>
            <th>Id Detail Registrasi</th>
            <th>Id Registrasi</th>
            <th>Id Kelas Mata Kursus</th>
            <th>Action</th>
        </tr>
        {% for item in alldetailregistrasiobj %}
        <tr>
            <td>{{ item.Id_DetailRegistrasi }}</td>
            <td>{{ item.Id_Registrasi }}</td>
            <td>{{ item.Id_Kelas_Mata_Kursus }}</td>
            <td>
                <a href="{%url 'updatedetailregistrasi' item.Id_DetailRegistrasi %}">
                    <button>Update</button>
                </a>
                <a href="{%url 'deletedetailregistrasi' item.Id_DetailRegistrasi %}">
                    <button>Delete</button>
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <a href="{% url 'createdetailregistrasi' %}">
        <button>
            CREATE DATA
        </button>
    </a>
</body>
</html>