<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <th>Id_Registrasi</th>
            <th>Id_Kelas_Mata_Kursus</th>
        </tr>
        {% for item in filterdetailregis %}
        <tr>
            <td>{{ item.Id_Registrasi }}</td>
            <td>{{ item.Id_Kelas_Mata_Kursus }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>