<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Dashboard</h1>
    <table>
            <td>
                Jumlah Siswa: {{jumlahsiswa}}
            </td>
        </tr>
        <tr>
            <td>
                <a href="{% url 'kelasmatakursus' %}">
                    <button>
                        KELAS MATA KURSUS
                    </button>
                </a> 
            </td>
        </tr>
        <tr>
            <td>
                <a href="{% url 'CustomerService' %}">
                    <button>
                        CUSTOMER SERVICE
                    </button>
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="{% url 'siswa' %}">
                    <button>
                        SISWA
                    </button>
                </a>  
            </td>
        </tr>
        <tr>
            <td>
                <a href="{% url 'registrasi' %}">
                    <button>
                        REGISTRASI
                    </button>
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="{% url 'DetailRegistrasi' %}">
                    <button>
                        DETAIL REGISTRASI
                    </button>
                </a> 
            </td>
        </tr>
    </table>
</body>
</html>