<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Data Kelas Mata Kursus</h1>
    <table>
        <tr>
            <th>ID Kelas Mata Kursus </th>
            <th>Jenis Kursus</th>
            <th>Jenis Kelas</th>
            <th>Jumlah Pertemuan</th>
            <th>Jadwal</th>
            <th>Harga</th>
            <th>Status Kelas</th>
            <th>Action</th>
        </tr>
        {% for item in allkelasmatakursus %}
        <tr>
            <td>{{ item.Id_Kelas_Mata_Kursus}}</td>
            <td>{{ item.Jenis_Kursus}}</td>
            <td>{{ item.Jenis_Kelas }}</td>
            <td>{{ item.Jumlah_Pertemuan }}</td>
            <td>{{ item.Jadwal }}</td> 
            <td>{{ item.Harga }}</td>
            <td>{{ item.Status_Kelas }}</td>
            <td>
                <a href="{%url 'updatekelasmatakursus' item.Id_Kelas_Mata_Kursus %}">
                    <button>Update</button>
                </a>
                <a href="{%url 'deletekelasmatakursus' item.Id_Kelas_Mata_Kursus %}">
                    <button>Delete</button>
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>
    </table>
    <a href="{% url 'createkelasmatakursus' %}">
        <button>
            CREATE DATA
        </button>
    </a>
    <form action="" method = "POST">
        {% csrf_token %}
        <table>
            <td>
                <select name="filterkelas" id="">
                    <option value="Full-stack Web Developer">Full-stack Web Developer</option>
                    <option value="UI/UX Design and Produc Management">UI/UX Design and Produc Management</option>
                    <option value="Graphic and Motion Designer">Graphic and Motion Designer</option>
                    <option value="Digital Marketing">Digital Marketing</option>
                </select>
                <button type="submit">Filter</button>
            </td>
        </table>
    </form>
</body>
</html>