<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Data Registrasi</h1>
    <table>
        <tr>
            <th>Id_Siswa</th>
            <th>ID_CS</th>
            <th>Tanggal_Registrasi</th>
            <th>Action</th>
        </tr>
        {% for item in allregistrasiobj %}
        <tr>
            <td>{{ item.Id_Siswa }}</td>
            <td>{{ item.ID_CS }}</td>
            <td>{{ item.Tanggal_Registrasi}}</td>
            <td>
                <a href="{%url 'updateregistrasi' item.Id_Registrasi %}">
                    <button>Update</button>
                </a>
                <a href="{%url 'deleteregistrasi' item.Id_Registrasi %}">
                    <button>Delete</button>
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>
    </table>
    <a href="{% url 'createregistrasi' %}">
        <button>
            CREATE DATA
        </button>
    </a>
</body>
</html>