<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Update Data Registrasi</h1>
    <form action="" method="post">
        {% csrf_token%}
        <table>
            <tr>
                <th>ID Siswa</th>
                <td>
                    <select name="Id_Siswa" id="">
                        {% for item in allsiswaobj %} {% if item.Id_Siswa == registrasi.Id_Siswa %}
                        <option selected value="{{item.Id_Siswa}}">{{item.Id_Siswa}}</option>
                        {% else %}
                        <option selected value="{{item.Id_Siswa}}">{{item.Id_Siswa}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <th>ID CS</th>
                <td>
                    <select name="ID_CS" id="">
                        {% for item in allcustomerserviceobj %}
                        <option value="{{item.ID_CS}}">{{item.ID_CS}}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <th>Tanggal Registrasi</th>
                <td>
                    <input type="date" name="Tanggal_Registrasi" value="{{tanggal}}">
                </td>
            </tr>
            <tr>
        </table>
        <button type="submit">Update</button>
    </form>
</body>
</html>