<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Update Data Customer Service</h1>
    <form action="" method="post">
        {% csrf_token%}
        <table>
            <tr>
                <th>Nama CS</th>
                <td>
                    <input type="text" name="nama_cs" value="{{allCustomerService.nama_cs}}">
                </td>
            </tr>
            <tr>
                <th>Nomor Telepon CS</th>
                <td>
                    <input type="number" name="nomer_telepon_cs" value="{{allCustomerService.nomer_telepon_cs}}">
                </td>
            </tr>
            <tr>
                <th>Alamat CS</th>
                <td>
                    <input type="text" name="Alamat_cs" value="{{allCustomerService.Alamat_cs}}">
                </td>
        </table>
        <button type=""submit>Submit</button>
    </form>
</body>
</html>